@import "../../../colors";

logo.toolbar-icon {
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.fill-space {
    flex: 1 1 auto;
}

.username {
    font-size: 1rem;
}

.account {
    display: inline-flex;
    vertical-align: middle !important;
    mat-icon {
        margin-top: .2rem;
    }
}
