<h3>
  Edit users
</h3>

<ul class="list-group">
  <li class="list-group-item user-config" *ngFor="let user of users">

    <h4 (click)="showEditUserForm(user)">
      <fa-icon icon="user"></fa-icon>
      {{ user.username }}

      <button (click)="showDeleteUserDialog(user)"
              class="btn btn-danger pull-right"
              *ngIf="user === currentUser">
        <fa-icon icon="trash"></fa-icon>
      </button>

    </h4>

    <form *ngIf="user === currentUser">

      <h5>
        <fa-icon icon="shield"></fa-icon>
        Permissions:
      </h5>
      
      <div class="user-permissions"
           *ngFor="let permission of permissions"
           (click)="toggleUserPermission(user, permission)"
           [ngClass]="{ active: hasPermission(user, permission) }">

        <fa-icon icon="check-square" *ngIf="hasPermission(user, permission)"></fa-icon>
        <fa-icon icon="square" *ngIf="!hasPermission(user, permission)"></fa-icon>
        {{ permission.name }}
      </div>
      
      <div class="user-controls">
        <button (click)="updateUserPermissions(user)" type="submit" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>
          Update
        </button>
      </div>
  

      <h5>
        <fa-icon icon="lock"></fa-icon>
        Change password:
      </h5>

      <form-input [(value)]="user.password"
            property="password"
            type="password"
            label="Password"
            help="Specify a password"
            [error]="errors['changeUserPassword']">
      </form-input>

      <form-input
            [(value)]="user.passwordRepeat"
            property="passwordRepeat"
            type="password"
            label="Repeat the Password"
            help="The password must be repeated to avoid errors"
            [error]="errors['changeUserPasswordRepeat']">
      </form-input>

      <div class="user-controls">
        <button (click)="updateUserPassword(user)" type="submit" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>
          Update
        </button>
      </div>

    </form>

  </li>
</ul>


<h3>
  Create new user
</h3>

<form>

  <form-input [(value)]="newUserRegistration.username" property="username" type="text" label="Username"
    help="Specify a username" [error]="errors['username']">
  </form-input>

  <form-input [(value)]="newUserRegistration.password" property="password" type="password" label="Password"
    help="Specify a password" [error]="errors['password']">
  </form-input>

  <form-input [(value)]="newUserRegistration.passwordRepeat" property="passwordRepeat" type="password"
    label="Repeat the Password" help="The password must be repeated to avoid errors"
    [error]="errors['passwordRepeat']">
  </form-input>

  <button (click)="addNewUser()" class="btn btn-primary pull-right">
    <fa-icon icon="user-plus"></fa-icon>
    Add user
  </button>

</form>
