<div class="page-container"
    [class.is-mobile]="mobileQuery.matches">
  <header title="RadShift"
          (onLogoClicked)="sidenav.toggle()"></header>

  <mat-sidenav-container
      class="sidenav-container">
    <mat-sidenav #sidenav
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56">
      <mat-nav-list>
        <div class="username">
          <mat-icon>account_box</mat-icon>
          {{ authentication?.name }}
        </div>
        <a class="nav-item logout" (click)="logout(); sidenav.toggle()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </a>

        <hr>
        
        <a *ngFor="let route of getRoutes()"
           class="nav-item"
           [routerLink]="route.path"
           [routerLinkActive]="['is-active']"
           (click)="sidenav.toggle()">
          <mat-icon>{{ route.data.icon }}</mat-icon>
          {{ route.data.label }}
        </a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>