@import "../../../variables.scss";


.container {
    padding: 0 !important;
}

.details,
.table {
    color: #fff !important;

    td, th {
        padding: 1rem;
        border-top: none !important;
    }
}
.table {
    border-top: 1px solid #fff !important;
}

.details-header {
    .green & {
        background: $primary-threequarter;
    }
}

section {
    margin-top: 2rem;

    & > * {
        padding: 0 1rem;
    }
}
