{
  "hostDomain": "your_domain",
  "adminEmail": "your_ssl_certificate_registration_mail",
  "dynDnsProviderUsername": "your_dyndns_login_user",
  "dynDnsProviderPassword": "your_dyndns_login_password",
  "dynDnsProviderHost": "your_dyndns_login_serviceurl",
  "dynDnsUpdateIntervalMinutes": 1
}