{
  "hostDomain": "your_domain",
  "admin": {
    "email": "your_ssl_certificate_registration_mail"
  },
  "dynDns": {
    "username": "your_dyndns_login_user",
    "password": "your_dyndns_login_password",
    "dynDnsHost": "your_dyndns_login_serviceurl",
    "updateIntervalMinutes": 1
  }
}