@import "../../../styles.scss";

.tab-content {
    padding: 20px;
}

.fill-space {
    flex: 1 1 auto;
}

.username {
    font-size: 1rem;
}

.account {
    display: inline-flex;
    vertical-align: middle !important;

    mat-icon {
        margin-top: .2rem;
    }
}

h2 {
    width: 100%;
    text-align: center;
    color: map-get($brand, 500);
}

.mat-expansion-panel {
    margin: 10px 0;

    &.create-user-panel {
        border: 2px solid map-get($brand, 500);
    }
}