@import "../../../../variables.scss";

h4 {
    width: 100%;
}

h5 {
    color: $gray;
    margin-top: 20px;
    border-bottom: 1px solid $gray;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.user-permissions {
    color: rgba(255, 255, 255, 0.25);
    &.active {
        color: #fff;
    }
}
.user-controls {
    margin-top: 20px;
}