@import "../../../variables.scss";

.backdrop {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 99999px;
    position: fixed;
    z-index: 1020;
    
    .collapsed & {
        display: none;
    }
}

.navmenu {
    font-size: 1.5rem;
    background: $primary-threequarter;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #fff;
    border-width: 2px;
}

.navbar-brand {
    & > * {
        margin-right: 15px;
    }
    
    b {
        margin-right: 0 !important;
    }
}

.navbar-brand {
    font-size: 1.6rem;
    svg {
        width: 50px !important;
    }
}

// .navbar {
//     box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
// }

.nav-link {
    width: 100%;
    font-size: 1.2rem;
    // color: #343a40 !important;
    text-decoration: none !important;
    cursor: pointer;

    &:hover {
        color: #fff !important;
    }
    &.active {
        color: #fff !important;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
}

.user-label {
    font-size: 1.5rem !important;
}

logo {
    margin-right: 0 !important;
}
