@import "../../../variables.scss";

svg {
    g {
        stroke: white;
    }
    
    path {
        fill: white;
    }

    &.green {
        g {stroke: $green;}
        path {fill: $green;}
    }

    &.red {
        g {stroke: $red;}
        path {fill: $red;}
    }

    &.orange {
        g {stroke: $orange;}
        path {fill: $orange;}
    }

    &.gray {
        g {stroke: $gray;}
        path {fill: $gray;}
    }

    &.blue {
        g {stroke: $blue;}
        path {fill: $blue;}
    }

    &.dark {
        g {stroke: $dark;}
        path {fill: $dark;}
    }
}
