@import "../../../variables.scss";


h2 {
    text-align: initial;
}

.container {
    padding: 0 !important;
}

.details,
.table {
    color: #fff !important;

    td, th {
        padding: 1rem;
        border-top: none !important;
    }
}
.table {
    border-top: 1px solid #fff !important;
}

.details-header {
    .green & {
        background: $primary-half;
    }
}

section {
    margin-top: 2rem;

    &.controls {
        margin-top: 1.5rem;
    }

    & > * {
        padding: 0 1rem;
    }
}

.btn-group {
    width: 100%;
}
