<div class="container details" [ngClass]="indicator(backend.status)">
  <div class="details-header">
    <h1>
      {{ backend.label }}
      <logo [color]="'green'" size="100"></logo>
    </h1>
  </div>

  <loading-bar [isLoading]="isLoading"></loading-bar>

  <section class="controls">
    <div class="d-flex justify-content-between align-items-center">
      <button type="button" class="btn btn-lg btn-outline-secondary" (click)="goBack()">
        <fa-icon icon="angle-left"></fa-icon>
        Back
      </button>
      <button type="button" class="btn btn-lg btn-outline-secondary"
        *ngIf="backend.entry && backend.status === 'running'" (click)="open()">
        Open
        <fa-icon icon="angle-right "></fa-icon>
      </button>
    </div>
  </section>

  <section class="controls">
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group" role="group">
        <button [attr.disabled]="getDisabled()" type="button" class="btn btn-lg btn-outline-secondary"
          *ngIf="isRunning()" (click)="stop()">
          <fa-icon icon="stop"></fa-icon>
          Stop
        </button>
        <button [attr.disabled]="getDisabled()" type="button" class="btn btn-lg btn-outline-secondary"
          *ngIf="!isRunning()" (click)="start()">
          <fa-icon icon="play"></fa-icon>
          Start
        </button>
        <button [attr.disabled]="getDisabled()" type="button" class="btn btn-lg btn-outline-secondary btn-danger"
          (click)="removeDialog()">
          <fa-icon icon="trash"></fa-icon>
          Delete
        </button>
      </div>
    </div>
  </section>

  <section>
    <h2>
      Summary
    </h2>
    <table class="table">
      <tr>
        <td>State:</td>
        <td>
          <indicator [state]="backend.status"></indicator>
          {{ backend.status }}</td>
      </tr>
      <tr>
        <td>Description:</td>
        <td>{{ backend.description }}</td>
      </tr>
      <tr>
        <td>CPU:</td>
        <td>
          <span *ngIf="isLoading">...</span>
          <span *ngIf="!isLoading && metrics">{{ metrics.cpuPercentate | number:'1.2-2' }} %</span>
          <span *ngIf="!isLoading && !metrics">n/a</span>
        </td>
      </tr>
      <tr>
        <td>Memory:</td>
        <td>
          <span *ngIf="isLoading">...</span>
          <span *ngIf="!isLoading && metrics">{{ metrics.memoryPercentate | number:'1.2-2' }} %</span>
          <span *ngIf="!isLoading && !metrics">n/a</span>
        </td>
      </tr>
    </table>
  </section>
</div>