<form>

  <h3>Host</h3>

  <form-input
    [(value)]="config.hostDomain"
    property="hostDomain"
    type="text"
    label="Domain"
    help="Your RadShift host registers itself under this domain"
    [error]="errors['hostDomain']">
  </form-input>


  <h3>Admin</h3>

  <form-input
    [(value)]="config.adminEmail"
    property="adminEmail"
    type="text"
    label="Email"
    help="The default email address for the RadShift administrator"
    [error]="errors['adminEmail']">
  </form-input>


  <h3>DynDNS</h3>

  <form-input
    [(value)]="config.dynDnsProviderUsername"
    property="dynDnsProviderUsername"
    type="text"
    label="Provider Username"
    help="Your username for your DNS provider"
    [error]="errors['dynDnsProviderUsername']">
  </form-input>

  <form-input
    [(value)]="config.dynDnsProviderPassword"
    property="dynDnsProviderPassword"
    type="password"
    label="Provider Password"
    help="Your password for your DNS provider"
    [error]="errors['dynDnsProviderPassword']">
  </form-input>

  <form-input
    [(value)]="config.dynDnsProviderHost"
    property="dynDnsProviderHost"
    type="text"
    label="Provider Host"
    help="The host name of your DNS provider"
    [error]="errors['dynDnsProviderHost']">
  </form-input>

  <form-input
    [(value)]="config.dynDnsUpdateIntervalMinutes"
    property="dynDnsUpdateIntervalMinutes"
    type="number"
    label="Update Interval (Minutes)"
    help="How often shall the DNS record be updated"
    [error]="errors['dynDnsUpdateIntervalMinutes']">
  </form-input>
  
  <button class="btn btn-primary pull-right" (click)="updateConfig()">
    <fa name="save" class="fa"></fa>
    Save
  </button>
</form>