$base-padding: 6rem;

$primary: rgb(8, 224, 73);
$primary-threequarter: rgba(8, 224, 73, 0.75);
$primary-half: rgba(8, 224, 73, 0.5);
$primary-onequarter: rgba(8, 224, 73, 0.25);

$danger: rgb(224, 14, 88);
$danger-threequarter: rgba(224, 14, 88, 0.75);
$danger-half: rgba(224, 14, 88, 0.5);

$background-main: #343a40;
