@import "variables.scss";

@font-face {
  font-family: OpenSans;
  src: url(assets/fonts/OpenSans/OpenSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik/Rubik-Light.ttf) format("truetype");
}

@font-face {
  font-family: VarelaRound;
  src: url(assets/fonts/Varela_Round/VarelaRound-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "VarelaRound", "arial", sans-serif;
}

html,
body {
  height: 100%;
  background: $background-main;
  color: #fff;
}

.container {
  margin-top: $base-padding;
}

.btn,
button {
  font-size: 1.2rem !important;
}

.btn-group,
.btn-group-vertical,
.btn-group-vertical > .btn,
.btn-group > .btn {
  position: initial !important;
}

h1,
h2 {
  color: #fff;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

input {
  background: none !important;
  border: 1px solid $primary !important;
  color: #fff !important;
  outline: 0 none !important;
  font-size: 1.2rem !important;
  
  &.invalid,
  &:invalid {
    border: 1px solid $danger !important;
    box-shadow: 0 0 5px $danger !important;
    background: $danger-onequarter !important;

    &:active,
    &:focus {
      box-shadow: 0 0 5px $danger !important;
    }
  }

  &:active,
  &:focus {
    box-shadow: 0 0 5px $primary-half !important;
  }
}

.hidden {
  display: none !important;
}

.list-group-item {
  background: none !important;
  border-color: #fff !important;
  cursor: pointer;
}

.navbar-brand svg {
  width: 70px !important;
}

.text-green {
  color: $primary;

  &.glow,
  & > .glow {
    text-shadow: 0 0 5px $primary-half;
  }
}

.btn {
  border-color: $primary !important;
  color: $primary !important;
  background: $background-main !important;
  &:hover {
    background: $primary !important;
    color: $background-main !important;
  }

  &.btn-primary {
    color: $background-main !important;
    background: $primary !important;
    &:hover {
      box-shadow: 0 0 5px $primary-threequarter;
    }
  }

  &.btn-danger {
    color: $background-main !important;
    background: $danger !important;
    border-color: $danger !important;
    &:hover {
      box-shadow: 0 0 5px $danger !important;
    }
  }

  &.btn-danger-outline {
    background: $background-main !important;
    color: $danger !important;
    border-color: $danger !important;
    &:hover {
      box-shadow: 0 0 5px $danger !important;
      color: $background-main !important;
      background: $danger !important;
    }
  }
}

a {
  outline: none !important;
}

.modal-content {
  background-color: $background-main !important;
  color: #fff !important;
}

.modal-header {
  border-bottom: none !important;
}
.modal-footer {
  border-top: none !important;
}

.toast-container {
  z-index: 100 !important;
  .ngx-toastr {
    box-shadow: none !important;

    &.toast-success {
      background-color: $primary;
    }
    &.toast-info {
      background-color: $blue;
    }
    &.toast-warning {
      background-color: $orange;
    }
    &.toast-error {
      background-color: $danger;
    }
  }
}

.nav-pills {
  border-bottom: none !important;

  .nav-item > .nav-link {
    background-color: none !important;
    color: $gray !important;
    border: none !important;
  }

  .nav-item > .nav-link:hover {
    background-color: none !important;
    color: $primary !important;
  }

  .nav-item.show .nav-link,
  .nav-link.active,
  .nav-item > .nav-link.active {
    background-color: $primary !important;
    background: $primary !important;
    color: $dark !important;
    box-shadow: 0 0 5px $primary !important;
  }
}

h3 {
  border-bottom: 1px solid #fff !important;
  margin-bottom: 10px !important;
  margin-top: 50px !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}