@import "./colors";
// @include angular-material-theme($frontend-theme);

/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Brand;
  src: url(assets/fonts/OpenSans/OpenSans-Light.ttf) format("truetype");
//   src: url(assets/fonts/Roboto/Roboto-Light.ttf) format("truetype");
//   src: url(assets/fonts/Rubik/Rubik-Light.ttf) format("truetype");
//   src: url(assets/fonts/Varela_Round/VarelaRound-Regular.ttf) format("truetype");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
*:not(.mat-icon) {
  font-family: "Brand", "arial", sans-serif !important;
}

.container {
  margin: auto;
  max-width: 600px;
  padding: 30px;

  section {
    padding: 10px 0;
  }

  hr {
    border-bottom: 1px solid white;
    margin: 30px 0;
  }
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgb(0, 0, 0, 0.6);
}

.mat-drawer {
  background-color: rgb(0, 0, 0, 0.2) !important;
}

.mat-form-field {
  width: 100%;
}

.mat-icon {
  margin-right: 7px;
  vertical-align: middle;
}

.mat-snack-bar-container {
  &.error {
    background: mat-color($frontend-warn);
    color: white;
  }

  &.warning {
    background: mat-color($frontend-accent);
    color: white;
  }

  &.info {
    background: mat-color($frontend-primary);
    color: white;
  }
}

.mat-stroked-button {
  border-width: 2px !important;

  &.mat-primary:not(:disabled) {
    border-color: map-get($brand, 900) !important;
  }

  &.mat-warn:not(:disabled) {
    border-color: map-get($brand-red, 900) !important;
  }
}

.mat-stroked-button,
.mat-flat-button {
  &.mat-primary:hover:not(:disabled) {
    box-shadow: 0 0 5px map-get($brand, 900);
  }

  &.mat-warn:hover:not(:disabled) {
    box-shadow: 0 0 5px map-get($brand-red, 900);
  }
}

.mat-toolbar.mat-primary {
  color: map-get($brand, 500) !important;
  background: rgba(0, 0, 0, 0.2) !important;
}

logo {
  svg {
    g {
      stroke: map-get($brand, 500);
    }

    path {
      fill: map-get($brand, 500);
    }
  }
}

.control-container {
  display: flex;
  justify-content: flex-end;
}
