@import "variables.scss";

@font-face {
  font-family: OpenSans;
  src: url(assets/fonts/OpenSans/OpenSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: Roboto;
  src: url(assets/fonts/Roboto/Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: Rubik;
  src: url(assets/fonts/Rubik/Rubik-Light.ttf) format("truetype");
}

@font-face {
  font-family: VarelaRound;
  src: url(assets/fonts/Varela_Round/VarelaRound-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "VarelaRound", "arial", sans-serif;
}

html,
body {
  height: 100%;
  background: $background-main;
}

.container {
  margin-top: $base-padding;
}

h1,
h2 {
  color: #fff;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

.navbar-brand svg {
  width: 70px !important;
}

.text-green {
  color: $primary;

  &.glow,
  & > .glow {
    text-shadow: 0 0 5px $primary-half;
  }
}

.btn {
  border-color: $primary !important;
  color: $primary !important;
  background: $background-main !important;
  &:hover {
    background: $primary !important;
    color: $background-main !important;
  }

  &.btn-primary {
    color: $background-main !important;
    background: $primary !important;
    &:hover {
      box-shadow: 0 0 5px $primary-threequarter;
    }
  }

  &.btn-danger {
    border-color: $danger !important;
    color: $danger !important;
    background: $background-main !important;
    &:hover {
      background: $danger !important;
      color: $background-main !important;
    }
  }
}

a {
  outline: none !important;
}

/*
 * Loading screen
 */

.modal-content {
  background-color: $background-main !important;
  color: #fff !important;
}

.modal-header {
  border-bottom: none !important;
}
.modal-footer {
  border-top: none !important;
}
