<div class="my-3 text-white-50 rounded store-item" [ngClass]="{selected: isActive, installed: backend.isInstalled}">
  <div class="main">
    <logo size="100" [color]="getColor()" class="green"></logo>
    <div>
      <h2 class="mb-0">{{ backend.label }}</h2>
      <div class="description">{{ backend.description }}</div>
    </div>
  </div>
  <div class="details" *ngIf="isActive">
    <button *ngIf="!backend.isInstalled" class="btn" (click)="installDialog(backend)">
      <fa-icon icon="play"></fa-icon>
      Install
    </button>
    <button *ngIf="backend.isInstalled" class="btn" (click)="showDetails(backend)">
      <fa-icon icon="list"></fa-icon>
      Details
    </button>
  </div>
  <loading-bar [isLoading]="isLoading"></loading-bar>
</div>