.container {
    section {
        margin-top: 20px;
        background: rgba(0, 0, 0, 0.2) !important;
        padding: 10px 20px;
    }
}

.chart {
    max-width: 250px;
    max-height: 250px;
}

table {
    width: 100%;
}

td {
    width: 50%;
}