<div class="container">

    <h2>
        <mat-icon [inline]="true">storage</mat-icon>
        System
    </h2>
    <table *ngIf="systemInfo && time">
        <tr>
            <td>Manufacturer:</td>
            <td>{{ systemInfo?.manufacturer }}</td>
        </tr>
        <tr>
            <td>Model:</td>
            <td>{{ systemInfo?.model }}</td>
        </tr>
        <tr>
            <td>Uptime:</td>
            <td>{{ time?.uptime | timespan }}</td>
        </tr>
        <tr>
            <td>Timezone:</td>
            <td>{{ time?.timezoneName }}</td>
        </tr>
    </table>


    <section>
        <h3>
            <mat-icon>memory</mat-icon>
            CPU
        </h3>
        <table *ngIf="cpu">
            <tr>
                <td>Speed:</td>
                <td>{{ cpu?.speed.avg }} GHz</td>
            </tr>
            <tr>
                <td>Temperature:</td>
                <td>{{ cpu?.temperature.max }}°C</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>
            <mat-icon>donut_small</mat-icon>
            Memory
        </h3>

        <div *ngIf="memory" class="center">
            <div>{{ memory?.used | memory:GB }} / {{ memory?.total | memory:GB }}</div>
            <div>
                <canvas baseChart
                    class="chart"
                    [data]="[memory.used, memory.free]"
                    [colors]="(memory.used / memory.total) > 0.75 ? warnColors : chartColors"
                    chartType="doughnut">
                </canvas>
            </div>
            <h3>{{ (memory.used / memory.total) | percentage:1 }}</h3>
        </div>
    </section>

    <section>
        <h3>
            <mat-icon>data_usage</mat-icon>
            Space
        </h3>
        <div *ngFor="let spa of space">
            <table>
                <tr>
                    <td class="top">
                        <div class="space-header">{{ spa.mount === '/' ? 'Main' : spa.mount }}</div>
                        <div>[{{ spa.type }}]</div>
                    </td>
                    <td class="center">
                        <div>{{ spa.used | memory:GB }} / {{ spa.size | memory:GB }}</div>
                        <canvas baseChart
                            class="chart-space"
                            [data]="[spa.used, spa.size - spa.used]"
                            [colors]="spa.use > 75 ? warnColors : chartColors"
                            chartType="doughnut">
                        </canvas>
                        <div>{{ spa.use }} %</div>
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <section>
        <h3>
            <mat-icon>developer_board</mat-icon>
            Containers
        </h3>

        <mat-checkbox [(ngModel)]="showAllContainers">Also exited containers</mat-checkbox>

        <div *ngFor="let container of getContainers()">
            <table>
                <tr>
                    <td>
                        <h4 [ngClass]="isContainerRunning(container) ? 'on' : 'off'">
                            <div class="indicator"></div>
                            {{ container.name }}
                            <span class="header-info">[{{ container.state }}]</span>
                        </h4>

                        <table *ngIf="isContainerRunning(container)">
                            <tr>
                                <td class="center">
                                    <div>Memory</div>
                                    <canvas baseChart
                                        class="chart-space"
                                        [data]="[container.mem_percent, 100 - container.mem_percent]"
                                        [colors]="mem_percent > 75 ? warnColors : chartColors"
                                        chartType="doughnut">
                                    </canvas>
                                    <div>
                                        {{ container.mem_percent | number:'1.0-2' }} %
                                        ({{ container.mem_usage | memory:GB }})
                                    </div>
                                </td>
                                <td class="center">
                                    <div>CPU</div>
                                    <canvas baseChart
                                        class="chart-space"
                                        [data]="[container.cpu_percent, 100 - container.cpu_percent]"
                                        [colors]="cpu_percent > 75 ? warnColors : chartColors"
                                        chartType="doughnut">
                                    </canvas>
                                    <div>{{ container.cpu_percent | number:'1.0-2' }} %</div>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
        </div>
    </section>

</div>
