@import "../../../colors";

.container {
    section {
        margin-top: 20px;
        background: rgba(0, 0, 0, 0.2) !important;
        padding: 10px 20px;
    }
}

.center {
    text-align: center;
}

.top {
    vertical-align: top;
}

.chart-space {
    max-width: 150px;
    max-height: 150px;
}

.header-info {
    font-weight: lighter;
}

.on {
    color: map-get($brand, 500);
}
.off {
    color: map-get($brand-red, 500);
}

.code {
    font-family: monospace !important;
    white-space: pre;
    padding: 5px;
    background-color: map-get($brand, 500);
    color: #333;
    margin: 10px 0;
    overflow: scroll;
    max-height: 250px;
}

.indicator {
    display: inline-block;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin-right: 5px;

    .on & {
        background-color: map-get($brand, 500);
        box-shadow: 0 0 5px map-get($brand, 500);
    }

    .off & {
        background-color: map-get($brand-red, 500);
    }
}

.space-header {
    font-size: 1.5rem;
    font-weight: bold;
}

table {
    width: 100%;
}

td {
    width: 50%;
}