<div class="container">

    <h2>
        <mat-icon [inline]="true">storage</mat-icon>
        System
    </h2>
    <table *ngIf="systemInfo && time">
        <tr>
            <td>Manufacturer:</td>
            <td>{{ systemInfo?.manufacturer }}</td>
        </tr>
        <tr>
            <td>Model:</td>
            <td>{{ systemInfo?.model }}</td>
        </tr>
        <tr>
            <td>Uptime:</td>
            <td>{{ time?.uptime }} seconds</td>
        </tr>
        <tr>
            <td>Timezone:</td>
            <td>{{ time?.timezoneName }}</td>
        </tr>
    </table>


    <section>
        <h3>
            <mat-icon>memory</mat-icon>
            CPU
        </h3>
        <table *ngIf="cpu">
            <tr>
                <td>Speed:</td>
                <td>{{ cpu?.speed.avg }} GHz</td>
            </tr>
            <tr>
                <td>Temperature:</td>
                <td>{{ cpu?.temperature.max }}°C</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>
            <mat-icon>donut_small</mat-icon>
            Memory
        </h3>

        <table *ngIf="memory">
            <tr>
                <td>
                    <div>Total: {{ memory?.totalGigabyte }} GB</div>
                    <div>Used: {{ memory?.usedGigabyte }} GB</div>
                    <div>Free: {{ memory?.freeGigabyte }} GB</div>
                </td>
                <td>
                    <canvas baseChart
                        class="chart"
                        [data]="[memory.used, memory.free]"
                        [colors]="chartColors"
                        chartType="doughnut">
                    </canvas>
                    <div>{{ memory.usagePercent }} %</div>
                </td>
            </tr>
        </table>

    </section>

    <section>
        <h3>
            <mat-icon>data_usage</mat-icon>
            Space
        </h3>
        <div *ngFor="let spa of space">
            <table>
                <tr>
                    <td>
                        <h4>{{ spa.mount === '/' ? 'Main' : spa.mount }}</h4>
                        <div>[{{ spa.type }}]</div>
                        <div>{{ spa.size }} byte</div>
                        <div>{{ spa.used }} byte</div>
                    </td>
                    <td>
                        <canvas baseChart
                            class="chart"
                            [data]="[spa.used, spa.size - spa.used]"
                            [colors]="chartColors"
                            chartType="doughnut">
                        </canvas>
                        <div>{{ spa.use }} %</div>
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <section>
        <h3>
            <!-- <mat-icon>bar_chart</mat-icon> -->
            <mat-icon>dashboard</mat-icon>
            <!-- <mat-icon>developer_board</mat-icon> -->
            Containers
        </h3>

        <div *ngFor="let container of containers">
            <table>
                <tr>
                    <td>
                        <h4>{{ container.name }}</h4>
                        <div>Memory usage: {{ container.mem_usage }} byte ({{ container.mem_percent }} %)</div>
                        <div>CPU usage: {{ container.cpu_percent }} %</div>
                        <div>State: {{ container.state }}</div>
                    </td>
                    <!-- <td>
                        <canvas statebaseChart
                            class="chart"
                            [data]="[container.mem_percent, 100 - container.mem_percent]"
                            [colors]="chartColors"
                            chartType="doughnut">
                        </canvas>
                        <div>{{ container.mem_percent }} %</div>

                        <canvas baseChart
                            class="chart"
                            [data]="[container.cpu_percent, 100 - container.cpu_percent]"
                            [colors]="chartColors"
                            chartType="doughnut">
                        </canvas>
                        <div>{{ container.cpu_percent }} %</div>
                    </td> -->
                </tr>
            </table>
        </div>
    </section>

</div>
