<div class="container">

    <h2>
        <mat-icon [inline]="true">storage</mat-icon>
        System
    </h2>
    <table *ngIf="clientTime && networkInfo">
        <tr>
            <td>IP:</td>
            <td>{{ networkInfo?.ip }}</td>
        </tr>
        <tr>
            <td>Uptime:</td>
            <td>{{ time?.uptime | timespan }}</td>
        </tr>
        <tr>
            <td>Client Time:</td>
            <td>{{ clientTime | date:'yyyy-MM-dd' }}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ clientTime | date:'HH:mm:ss' }}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ clientTime | date:'z' }}</td>
        </tr>
    </table>


    <section>
        <h3>
            <mat-icon>memory</mat-icon>
            CPU
            <a class="refresh-button" (click)="fetchCpu()">
                <mat-icon>refresh</mat-icon>
            </a>
        </h3>
        <mat-progress-bar *ngIf="loadingCpu" color="primary" mode="indeterminate"></mat-progress-bar>

        <table *ngIf="cpu" [ngClass]="{'opaque': loadingCpu}">
            <tr>
                <td>Speed:</td>
                <td>{{ cpu?.speed.avg }} GHz</td>
            </tr>
            <tr>
                <td>Temperature:</td>
                <td>{{ cpu?.temperature.max | number:'1.0' }}°C</td>
            </tr>
        </table>
    </section>

    <section>
        <h3>
            <mat-icon>save</mat-icon>
            Backup
            <a class="refresh-button" (click)="fetchBackupInfo()">
                <mat-icon>refresh</mat-icon>
            </a>
        </h3>
        <mat-progress-bar *ngIf="loadingBackupInfo" color="primary" mode="indeterminate"></mat-progress-bar>

        <table *ngIf="backupInfo" [ngClass]="{'opaque': loadingBackupInfo}">
            <tr [ngClass]="backupInfo?.status === 'SUCCESS' ? 'on' : 'off'">
                <td>Status:</td>
                <td>{{ backupInfo?.status }}</td>
            </tr>
            <tr>
                <td>Date:</td>
                <td>{{ backupInfo?.date }}</td>
            </tr>
        </table>

        <div *ngIf="backupInfo?.log" class="code">
            {{ backupInfo?.log }}
        </div>
    </section>

    <section>
        <h3>
            <mat-icon>donut_small</mat-icon>
            Memory
            <a class="refresh-button" (click)="fetchMemory()">
                <mat-icon>refresh</mat-icon>
            </a>
        </h3>
        <mat-progress-bar *ngIf="loadingMemory" color="primary" mode="indeterminate"></mat-progress-bar>

        <h4>Total: {{ memory?.total | memory:'GB' }}</h4>
        <table *ngIf="memory" class="center" [ngClass]="{'opaque': loadingMemory}" style="table-layout: fixed;">
            <tr>
                <td class="center top">
                    Used:
                </td>
                <td class="center top">
                    <bar-chart [fractions]="[memory.used, memory.total]"
                               [color]="(memory.used / memory.total) > 0.75 ? warnColor : normalColor"></bar-chart>
                </td>
                <td class="center top">
                    <div>{{ memory?.used | memory:'GB' }}</div>
                    <div>{{ (memory.used / memory.total) | percentage:1 }}</div>
                </td>
            </tr>
            <tr>
                <td class="center top">
                    Active:
                </td>
                <td class="center top">
                    <bar-chart [fractions]="[memory.active, memory.total]"
                               [color]="(memory.active / memory.total) > 0.75 ? warnColor : normalColor"></bar-chart>
                </td>
                <td class="center top">
                    <div>{{ memory?.active | memory:'GB' }}</div>
                    <div>{{ (memory.active / memory.total) | percentage:1 }}</div>
                </td>
            </tr>
            <tr>
                <td class="center top">
                    Available:
                </td>
                <td class="center top">
                    <bar-chart [fractions]="[memory.available, memory.total]"
                               [color]="(memory.available / memory.total) < 0.25 ? warnColor : normalColor"></bar-chart>
                </td>
                <td class="center top">
                    <div>{{ memory?.available | memory:'GB' }}</div>
                    <div>{{ (memory.available / memory.total) | percentage:1 }}</div>
                </td>
            </tr>
            <tr>
                <td class="center top">
                    Buffers:
                </td>
                <td class="center top">
                    <bar-chart [fractions]="[memory.buffers, memory.total]"
                               [color]="(memory.buffers / memory.total) > 0.75 ? warnColor : normalColor"></bar-chart>
                </td>
                <td class="center top">
                    <div>{{ memory?.buffers | memory:'GB' }}</div>
                    <div>{{ (memory.buffers / memory.total) | percentage:1 }}</div>
                </td>
            </tr>
            <tr>
                <td class="center top">
                    Cached:
                </td>
                <td class="center top">
                    <bar-chart [fractions]="[memory.cached, memory.total]"
                               [color]="(memory.cached / memory.total) > 0.75 ? warnColor : normalColor"></bar-chart>
                </td>
                <td class="center top">
                    <div>{{ memory?.cached | memory:'GB' }}</div>
                    <div>{{ (memory.cached / memory.total) | percentage:1 }}</div>
                </td>
            </tr>
            <tr>
                <td class="center top">
                    Slab:
                </td>
                <td class="center top">
                    <bar-chart [fractions]="[memory.slab, memory.total]"
                               [color]="(memory.slab / memory.total) > 0.75 ? warnColor : normalColor"></bar-chart>
                </td>
                <td class="center top">
                    <div>{{ memory?.slab | memory:'GB' }}</div>
                    <div>{{ (memory.slab / memory.total) | percentage:1 }}</div>
                </td>
            </tr>
            <tr>
                <td class="center top">
                    Buffcache:
                </td>
                <td class="center top">
                    <bar-chart [fractions]="[memory.buffcache, memory.total]"
                               [color]="(memory.buffcache / memory.total) > 0.75 ? warnColor : normalColor"></bar-chart>
                </td>
                <td class="center top">
                    <div>{{ memory?.buffcache | memory:'GB' }}</div>
                    <div>{{ (memory.buffcache / memory.total) | percentage:1 }}</div>
                </td>
            </tr>
        </table>

        <h4>Swap: {{ memory?.swaptotal | memory:'GB' }}</h4>
        <table *ngIf="memory" class="center" [ngClass]="{'opaque': loadingMemory}" style="table-layout: fixed;">
            <tr>
                <td class="center top">
                    Swap Total:
                </td>
                <td class="center top">
                    <bar-chart [fractions]="[memory.swaptotal, memory.total]"
                               [color]="(memory.swaptotal / memory.total) > 0.75 ? warnColor : normalColor"></bar-chart>
                </td>
                <td class="center top">
                    <div>{{ memory?.swaptotal | memory:'GB' }}</div>
                    <div>{{ (memory.swaptotal / memory.total) | percentage:1 }}</div>
                </td>
            </tr>
            <tr>
                <td class="center top">
                    Swap Used:
                </td>
                <td class="center top">
                    <bar-chart [fractions]="[memory.swapused, memory.swapfree]"
                               [color]="(memory.swapused / memory.swapfree) > 0.75 ? warnColor : normalColor"></bar-chart>
                </td>
                <td class="center top">
                    <div>{{ memory?.swapused | memory:'GB' }}</div>
                    <div>{{ (memory.swapused / memory.swapfree) | percentage:1 }}</div>
                </td>
            </tr>
        </table>

        <!-- <div *ngIf="memory" class="center" [ngClass]="{'opaque': loadingMemory}">
            <div>{{ memory?.used | memory:'GB' }} / {{ memory?.total | memory:'GB' }}</div>
            <div>
                <donut-chart [fractions]="[memory.used, memory.total]"
                             [color]="(memory.used / memory.total) > 0.75 ? warnColor : normalColor"
                             class="chart"></donut-chart>
            </div>
            <h3>{{ (memory.used / memory.total) | percentage:1 }}</h3>
        </div> -->
    </section>

    <section>
        <h3>
            <mat-icon>data_usage</mat-icon>
            Space
            <a class="refresh-button" (click)="fetchSpace()">
                <mat-icon>refresh</mat-icon>
            </a>
        </h3>
        <mat-progress-bar *ngIf="loadingSpace" color="primary" mode="indeterminate"></mat-progress-bar>

        <div *ngFor="let spa of space" [ngClass]="{'opaque': loadingSpace}">
            <table>
                <tr>
                    <td class="top">
                        <div class="space-header">{{ spa.mount === '/' ? 'Main' : spa.mount }}</div>
                        <div>[{{ spa.type }}]</div>
                    </td>
                    <td class="center">
                        <div>{{ spa.used | memory:'GB' }} / {{ spa.size | memory:'GB' }}</div>
                        <donut-chart [fractions]="[spa.used, spa.size]"
                                     [color]="spa.use > 75 ? warnColor : normalColor"
                                     class="chart"></donut-chart>
                        <div>{{ spa.use }}%</div>
                    </td>
                </tr>
            </table>
        </div>
    </section>

    <section>
        <h3>
            <mat-icon>developer_board</mat-icon>
            Containers
            <a class="refresh-button" (click)="fetchContainers()">
                <mat-icon>refresh</mat-icon>
            </a>
        </h3>
        <mat-progress-bar *ngIf="loadingContainers" color="primary" mode="indeterminate"></mat-progress-bar>


        <mat-checkbox [(ngModel)]="showAllContainers">Also exited containers</mat-checkbox>

        <div *ngFor="let container of getContainers()" [ngClass]="{'opaque': loadingContainers}">
            <h4 [ngClass]="isContainerRunning(container) ? 'on' : 'off'">
                <div class="indicator"></div>
                {{ container.name }}
                <span class="header-info">[{{ container.state }}]</span>
            </h4>

            <table *ngIf="isContainerRunning(container)">
                <tr>
                    <td class="center">
                        <div>Memory</div>
                        <donut-chart [fractions]="[container.mem_percent, 100]"
                                        [color]="container.mem_percent > 75 ? warnColor : normalColor"
                                        class="chart"></donut-chart>
                        <div>
                            {{ container.mem_percent | number:'1.0-2' }}%
                            ({{ container.mem_usage | memory:'GB' }})
                        </div>
                    </td>
                    <td class="center">
                        <div>CPU</div>
                        <donut-chart [fractions]="[container.cpu_percent, 100]"
                                        [color]="container.cpu_percent > 75 ? warnColor : normalColor"
                                        class="chart"></donut-chart>
                        <div>{{ container.cpu_percent | number:'1.0-2' }}%</div>
                    </td>
                </tr>
            </table>
        </div>
    </section>

</div>
