@import "../../../variables.scss";


svg {
    margin-top: 10% !important;
}

h2 {
    text-align: initial;
}

.backend-item {
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
        background: rgba(255, 255, 255, 0.05);
    }

    &.gray {
        background: rgba(255, 255, 255, 0.05);
        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }
    }

    .btn {
        font-size: 1.15rem;
        float: right;
    }

}

.main {
    padding: 1rem !important;
    display: flex !important;
}

logo {
    margin-right: 20px;
    padding: 5px;
}