<div class="container">

  <logo size="100"></logo>
  <h1>RadShift</h1>

  <section>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput
               placeholder="Username"
               name="Username"
               type="text"
               id="username"
               formControlName="username">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput
               placeholder="Password"
               name="Password"
               type="password"
               id="password"
               formControlName="password">
      </mat-form-field>

      <button type="submit"
              mat-stroked-button
              [color]="isBlocked() ? 'warn' : 'primary'">
          {{ getBlockedMessage() || 'Login' }}
      </button>

    </form>
  </section>

</div>

<!-- <nav mat-tab-nav-bar mat-stretch-tabs class="full-width">
    <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive">
      {{ link.label }}
    </a>
  </nav> -->