@import "../../../variables.scss";


.loader {
    height: 10px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .is-loading:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 14px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $primary-threequarter);
    animation: loading 2s linear infinite;
  }
  
  @keyframes loading {
    from {left: -50%; width: 50%;}
    50% {width: 50%;}
    70% {width: 80%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
  }