<svg viewBox="-5 -5 210 130" [attr.width]="size" [attr.height]="size" [attr.class]="color">

    <g fill="none"
        [attr.stroke]="color"
        stroke-width="7"
        stroke-linecap="round"
        stroke-linejoin="round">

        <!-- Outline -->
        <path d="M0,30 L0,90 L100,60 L200,90 L200,30 L100,0 L0,30 L0,90 L0,30 M200,30 L200,90 L200,30 M100,0 L100,60 L100,0 M0,90 L100,60 L200,90 L100,120 L0,90 M0,60 L100,30 L200,60 L100,90 L0,60 M0,30 L100,0 L200,30 L100,60 L0,30 M100,60 L100,120 L100,60"
            fill-opacity="0"/>

        <!-- Fill: center -->
        <path d="M0,60 L100,30 L200,60 L100,90 L0,60"
            [attr.fill]="color"
            opacity="0.5" />

        <!-- Fill: top -->
        <path d="M0,30 L100,0 L200,30 L100,60 L0,30"
            [attr.fill]="color"
            opacity="0.75" />

    </g>
</svg>