<h3>Permissions</h3>

<div class="form-group">

  <div class="permission-edit input-group mb-3" *ngFor="let permission of permissions">
    <input type="text" [(ngModel)]="permission.name" class="form-control" disabled>
    <div class="input-group-append" (click)="deletePermission(permission)">
      <span class="input-group-text btn btn-danger-outline">
          <fa name="trash" class="fa"></fa>
      </span>
    </div>
  </div>

  <form *ngIf="newPermission">
    <div class="input-group mb-3" *ngIf="newPermission">
      <input #newPermissionName name="newPermissionName" type="text" [(ngModel)]="newPermission.name" class="form-control" autofocus>
      <div class="input-group-append" (click)="addNewPermission()">
        <button class="input-group-text btn btn-primary">
            <fa name="check" class="fa"></fa>
        </button>
      </div>
    </div>
  </form>

  <button *ngIf="!newPermission" (click)="showAddNewPermissionForm()" class="btn btn-primary-outline permission-add">
    <fa name="plus" class="fa"></fa>
    New permission
  </button>

</div>

<button (click)="updatePermissions()" class="btn btn-primary pull-right">
  <fa name="save" class="fa"></fa>
  Update
</button>